/*le corps de la page avec son dégradé style planches de bois*/
body{margin: 0;background-image: linear-gradient(90deg, rgba(112,75,75,1) 19%, rgba(93,61,61,1) 20%, rgba(112,75,75,1) 21%, rgba(112,75,75,1) 39%, rgba(93,61,61,1) 40%, rgba(112,75,75,1) 41%, rgba(112,75,75,1) 59%, rgba(93,61,61,1) 60%, rgba(112,75,75,1) 61%, rgba(112,75,75,1) 79%, rgba(93,61,61,1) 80%, rgba(112,75,75,1) 81%);}
    

/*les header et footer de la page, leur barre de navigation avec tous leurs liens, la div titre contient le nom et le login*/
#titre{display: flex;flex-direction: row; gap: 60vw;}
#titre h1{color:yellow;font-size: 5vw;}
#titre a{margin-top: 5vw;min-width: 11vw}
header , footer{background-color: crimson; padding: 1vw;font-size: 1vw;}
nav{display: flex ;flex-direction: row; justify-content:center;}
header a, footer a{color: greenyellow; margin-right: 10vw;font-size: 2vw;}
header a:hover, footer a:hover{color: chartreuse;}
header a:focus, footer a:focus{color: lime;}

/*chaque passage est présenté comme une lettre d'un style différent*/

div:not(#titre){padding :1rem; font-style: italic; line-height: 200%; font-size:2vw; width: 60vw;margin-top:1.5vw ; margin-bottom:1.5vw;min-height: 20vw;}

/*lettre d'introduction*/
#lettre{color:darkblue;background-color: beige;font-family:'comic sans ms', Arial; text-decoration:underline darkslategrey; margin-left:10vw}

/*paragraphe de présentation*/
#intro{color: darkmagenta;background-color: mintcream;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;text-decoration:underline grey;margin-left: 15vw}

/*présentation des objectifs*/
#objectifs{color:darkslateblue;background-color:azure;font-family:'Palatino Linotype',cursive;text-decoration:underline grey;margin-left: 5vw;}

/*présentation de l'historique*/
#historique{color:rebeccapurple;background-color:mistyrose;font-family:'Perpetua',Verdana, Geneva, Tahoma, sans-serif;text-decoration:underline grey;margin-left: 20vw}