#lettre{color: brown;background-color: burlywood;font-family:Verdana, Geneva, Tahoma, sans-serif;padding :1rem; display: flex ; flex-direction: column; font-style: italic; line-height: 500%; font-size:larger ;text-decoration:underline grey;}

body{background-color:sienna;}