*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
   
}  
/* centre le contenu */
body{
    font-family: sans-serif;
    background: center;
    display: flex;
    justify-content:center;
   
}
/* disposition du contenu */
.contact-formulaire{
border: 2px solid black;
margin-top: 12%;
width:100%; 
display: flex;
flex-direction: column;
align-items:center;
border:none;
}
/* Pour ajouter la taille et un espacement interne */
.titre-contact h2{
    font-weight: 200;
    font-size:2rem;
    margin-bottom:10px;
}
/* Pour courber les bordures et ajouter de l'espace */
.contact-inputs{
    padding:10px 45px;
    border-radius:20px;
}
button{
    font-size:12px;
    padding:10px 20px;
    border-radius:10px;
}
#titre{
    display:flex;
    flex-direction: row;
    gap: 60vw;
}
#titre h1{
    color:red;
    font-size:2.5rem;
    margin-top: 2%;
    padding:auto;
}
#titre a{
    margin-top: 4vw;
}
header , footer{
    background: transparent;
    padding: auto;
    width:100%;
}
nav{
    display: flex ;
    flex-direction: row;
    justify-content:center;}
header a, footer a{
    color:rgb(23, 139, 23);
    margin-right: 5vw;
    font-size: 1.2rem;}
header a:hover, footer a:hover{
    color: chartreuse;
}
header a:focus, footer a:focus{
    color: lime;
}/* styler le footer et ses éléments */
.icon{
    display: flex;
    justify-content: center;  
}
.icon a{
    text-decoration:none;
    padding:10px;
    background-color:white;
    margin: 10px;;
    border-radius:50%;
}
.icon a i{
    font-size:1.5em;
}
.text{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:1em;
}
