*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
   
}  
/* centre le contenu */
body{
    font-family: sans-serif;
    background: center;
    display: flex;
    justify-content:center;
   
}
/* disposition du contenu */
.contact-formulaire{
border: 2px solid black;
margin-top: 12%;
width:100%; 
display: flex;
flex-direction: column;
align-items:center;
border:none;
}
/* Pour ajouter la taille et un espacement interne */
.titre-contact h2{
    font-weight: 200;
    font-size:2rem;
    margin-bottom:10px;
}
/* Pour courber les bordures et ajouter de l'espace */
.contact-inputs{
    padding:10px 45px;
    border-radius:20px;
}
button{
    font-size:12px;
    padding:10px 20px;
    border-radius:10px;
}
 /*les header et footer de la page, leur barre de navigation avec tous leurs liens, la div titre contient le nom et le login*/
#titre{display: flex;flex-direction: row; gap: 60vw;}
#titre h1{color:yellow;font-size: 4vw;margin-left: 2vw;margin-top:1vw}
#titre a{margin-top: 4vw;text-align:justify ;min-width: 13vw}
header , footer{background-color: crimson; padding: 1vw;font-size: 1vw;}
nav{display: flex ;flex-direction: row; justify-content:center;}
header a, footer a{color: greenyellow; margin-right: 10vw;font-size: 2vw;}
header a:hover, footer a:hover{color: chartreuse;}
header a:focus, footer a:focus{color: lime;}
/* styler le footer et ses éléments */
.icon{
    display: flex;
    justify-content: center;  
}
.icon a{
    text-decoration:none;
    padding:10px;
    background-color:white;
    margin: 10px;;
    border-radius:50%;
}
.icon a i{
    font-size:1.5em;
}
.text{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:1em;
}
