







body{ background-color: chocolate;margin: 0;}


/*les header et footer de la page, leur barre de navigation avec tous leurs liens, la div titre contient le nom et le login*/
#titre{display: flex;flex-direction: row; gap: 60vw;}
#titre h1{color:yellow;font-size: 3vw;}
#titre a{margin-top: 4vw;}
header , footer{background-color: crimson; padding: 1vw;}
nav{display: flex ;flex-direction: row; justify-content:center;}
header a, footer a{color: greenyellow; margin-right: 10vw;font-size: xx-large;}
header a:hover, footer a:hover{color: chartreuse;}

h1:not(header *){text-align: center; color: goldenrod;background-color: sienna;margin-bottom: 10vw;}

/* le sapin de noël*/


#sapin{background-image: url("../images/Transparent_Pine_Tree_PNG_Clipart.png");min-width:100% ;min-height:100%;background-repeat: no-repeat; background-size: cover;display: flex;justify-content: space-between;flex-direction: column; background-position: center;}

#sapin * :not(#star) {margin: 8vw; width: 10vw ; background-color: crimson;border-radius:100% ; justify-content: center; padding: 1vw;display: grid;height: 10vw;}

#star{max-width: 30vw; ; align-self: center;margin-top: -10vw;}


/* les boules de noël avec les photo, les noms et les roles des membres du personnel*/



/* pour varier l'alignement horizontal des boules*/

#a{margin-left: 35vw;}
#b{margin-left: 50vw;}
#c{margin-left: 10vw;}
#d{margin-left: 65vw;}
#e{margin-left: 15vw;}


/* les photos du staff*/

h3{background-repeat: no-repeat;background-size: cover;color: orange;font-size: x-large;text-align: center;padding-top: 10vw;}

#a h3{ background-image: url("../images/bonnet-1.jpg");}
#b h3{ background-image: url("../images/bonnet-2.jpg");}
#c h3{ background-image: url("../images/bonnet-3.jpg");}
#d h3{ background-image: url("../images/bonnet-4.jpg");}
#e h3{ background-image: url("../images/bonnet-5.jpg");}   



/* sert à faire disparaitre et apparaitre le texte avec l'indentation et l'image en ajoutant et enlevant l'image de fond quand l'utilisateur pointe sur la boule*/

h3{text-indent:-9999px;}


h3:hover{opacity: 100%;text-indent: 0;vertical-align: middle;}


#a h3:hover{ background-image: none}
#b h3:hover{ background-image: none}
#c h3:hover{ background-image: none}
#d h3:hover{ background-image: none}
#e h3:hover{ background-image: none}   

