/*le fond de la page avec sa brodure sucre d'orge*/

body{background-color: wheat; align-content: center;margin: 0;}

/*la propriété border-image-slicepermet de répartir le dégradé sur tous les côtés*/

body{border: solid 1vw; border-image: linear-gradient(45deg, red, red 5%, forestgreen 5%, forestgreen 10%, red 10%, red 15%, forestgreen 15%, forestgreen 20%, red 20%, red 25%, forestgreen 25%, forestgreen 30%, red 30%, red 35%, forestgreen 35%, forestgreen 40%, red 40%, red 45%, forestgreen 45%, forestgreen 50%, red 50%, red 55%, forestgreen 55%, forestgreen 60%, red 60%, red 65%, forestgreen 65%, forestgreen 70%, red 70%, red 75%, forestgreen 75%, forestgreen 80%, red 80%, red 85%, forestgreen 85%, forestgreen 90%, red 90%, red 95%, forestgreen 95%);border-image-repeat:stretch;border-image-slice: 1 1 1 1;}

/*les header et footer de la page, leur barre de navigation avec tous leurs liens, la div titre contient le nom et le login*/
#titre{display: flex;flex-direction: row; gap: 60vw;}
#titre h1{color:yellow;font-size: 5vw;}
#titre a{margin-top: 4vw;}
header , footer{background-color: crimson; padding: 1vw;font-size: 1vw;}
nav{display: flex ;flex-direction: row; justify-content:center;}
header a, footer a{color: greenyellow; margin-right: 10vw;font-size: 3vw;}
header a:hover, footer a:hover{color: chartreuse;}
header a:focus, footer a:focus{color: lime;}




/*l'image de couverture*/


#cover{background-image: url("../images/christmas-home-design-with-beautiful-christmas-tree-cozy-night.jpg");background-repeat: no-repeat;display: flex;flex-direction: column; background-size:cover ;min-height: 60vw;justify-content: space-between;}

/*la propriété -webkit-text-stroke permet d'ajouter un contour au texte*/

#cover h2 {color: greenyellow;text-align: center;font-size:8vw; -webkit-text-stroke: darkkhaki 0.2vw;}


#cover #aider {color: limegreen;text-align: center;font-size:8vw; -webkit-text-stroke: darkkhaki 0.2vw;}





/*les raccourcis, style guirlande lumineuse*/



#goto{ gap: 12vw; border-top: solid 0.5vw darkslategrey;}


#goto a{margin: 0vw 1vw 0.5vw 5vw; padding: 1vw 0.5vw 1vw; font-size: 3vw;border-radius: 10%;border: solid 0.2vw;}

#décosled{background-color: darkred;color: red;border-color: red;} 
#jouetsled{background-color:green;color:limegreen;border-color: limegreen;}
#platsled{background-color: darkcyan;color: cyan;border-color: cyan;}
#pullsled{background-color: darkmagenta;color: magenta;border-color: magenta;}

#décosled:hover{color:lightcoral ;background-color: red; border: 0.2vw darkred dashed;}
#jouetsled:hover{color:lightgreen ;background-color: limegreen; border: 0.2vw green dashed;}
#platsled:hover{color:lightcyan ;background-color: cyan; border: 0.2vw darkcyan dashed;}
#pullsled:hover{color:lightpink ;background-color: magenta; border: 0.2vw darkmagenta dashed;}


/*la publicité*/

#pub img {min-width: 20vw; max-width: 20vw; min-height: 100%; margin: 1vw;border-radius: 10%;}

#pub h2{color:darkorange; margin: 3vw; font-size: 6vw;-webkit-text-stroke: 0.1vw maroon ;}
#pub{background-image: url("../images/4633484.jpg");min-height: 20vw;background-repeat: no-repeat; background-size:cover;display: flex;flex-direction: row;}



/*les sections du magasin*/

/*le h1 du header n'est pas afffectés par ces propriétés car :not(header *) exclue tous les éléments du header */

   h1:not(header *){padding-bottom: 2vw;padding-top: 5vw;color:yellow;-webkit-text-stroke: darkorange 0.05vw;font-size: 4vw;}

#sort{display: flex; flex-direction: row; height: 28vw; overflow: scroll; scrollbar-color: springgreen forestgreen ;}


/*les fonds style papier-cadeau des différentes sections*/

#décos{margin-bottom: 2vw; background-image: url("../images/9698816.jpg");}
#jouets{background-image: url("../images/vecteezy_seamless-christmas-pattern-with-elf-legs-from-gift-box_.jpg");}
#plats{background-image: url("../images/9782132.jpg");margin-bottom: 2vw;}
#pulls{background-image:url("../images/8133450.jpg");margin-bottom: 2vw;}



/*l'interface octroyée par chaque élément (item) de la section*/


#item{ border: burlywood 1vw solid; background-color: tomato; display: flex; padding: 2vw ;flex-direction: column; margin-right:10vw; margin-left:5vw;margin-bottom: 3vw;text-align: center; align-items: center; justify-content:last baseline; min-width:  30vw;  border-radius: 10%; font-size: 2vw; color: darkslategray; }

#item div{text-indent:-9999px;background-repeat: no-repeat;background-size: contain;background-position: center;text-align: center;}
#item div{min-height:75%; min-width:90%;border-radius: 10%;background-color:darkslategray;}


/*pour afficher la description des produits et faire disparaître l'image*/
#item div:hover{text-indent: 0;}
#sort #item div:hover{background-image: none;background-color: tomato;filter: brightness(1)}


button{background-color: burlywood;padding: 1vw;;min-width: 10vw; border:0vw;font-size: 2vw;border-radius: 30%; color: maroon;}
button:hover{background-color: greenyellow;}
button:active{background-color: chartreuse;}
button:focus{background-color: lime;}

/*les images de déco*/

#décos #item div{background-color:steelblue;}

#déco1{background-image:url("../images/cadeau.png") ;}
#déco2{background-image:url("../images/bougie.png") ;}
#déco3{background-image:url("../images/cloche.png") ;}
#déco4{background-image:url("../images/houx.png") ;}
#déco5{background-image:url("../images/boule.png") ;}

#jouets #item div{background-color:teal;}

/*les images de jouet*/
#jouet1{background-image:url("../images/dino.png") ;}
#jouet2{background-image:url("../images/voiture.png") ;}
#jouet3{background-image:url("../images/train.png") ;}
#jouet4{background-image:url("../images/fusée.png") ;}
#jouet5{background-image:url("../images/canard.png") ;}

#plats #item div{background-color:darkolivegreen;}

/*les images de nourriture*/
#plat1{background-image:url("../images/6272928-removebg-preview.png") ;}
#plat2{background-image:url("../images/7997540-removebg-preview.png") ;}
#plat3{background-image:url("../images/5873641-removebg-preview.png") ;}
#plat4{background-image:url("../images/panettone.png") ;}
#plat5{background-image:url("../images/gateau-noel-illustration-homme-au-pain-epice-isole_18591-84036-removebg-preview.png") ;}

/*les images de pull*/

#pulls #item div{filter: brightness(1.5);background-color: darkslategrey;}

#pull1{background-image:url("../images/pull-1.png") ;}
#pull2{background-image:url("../images/pull-2.png") ;}
#pull3{background-image:url("../images/pull-3.png") ;}
#pull4{background-image:url("../images/pull-4.png") ;}
#pull5{background-image:url("../images/pull-5.png") ;}


  