body{background-color: wheat;}



/*l'image de couverture*/


#cover{background-image: url("../images/christmas-home-design-with-beautiful-christmas-tree-cozy-night.jpg");background-repeat: no-repeat; background-size:cover ;min-height: 40vw;}

#cover h2 {color: greenyellow;text-align: center;padding: 10vw;font-size:8vw; -webkit-text-stroke: darkkhaki 0.2vw;}


#cover #aider {color: limegreen;text-align: center;font-size:8vw; -webkit-text-stroke: darkkhaki 0.2vw;padding-top: 10vw}





/*les raccourcis, style guirlande lumineuse*/



#goto{display: flex; flex-direction: row; gap: 8vw; border-top: solid 0.5vw darkslategrey;}


#goto a{margin: 0vw 1vw 0.5vw 1vw; padding: 1vw 0.5vw 1vw; font-size: 3vw;border-radius: 10%;border: solid 0.2vw;}

#décosled{background-color: darkred;color: red;border-color: red;} 
#jouetsled{background-color:green;color:limegreen;border-color: limegreen;}
#platsled{background-color: darkcyan;color: cyan;border-color: cyan;}
#pullsled{background-color: darkmagenta;color: magenta;border-color: magenta;}

#décosled:hover{color:lightcoral ;background-color: red; border: 0.2vw darkred dashed;}
#jouetsled:hover{color:lightgreen ;background-color: limegreen; border: 0.2vw green dashed;}
#platsled:hover{color:lightcyan ;background-color: cyan; border: 0.2vw darkcyan dashed;}
#pullsled:hover{color:lightpink ;background-color: magenta; border: 0.2vw darkmagenta dashed;}

/*la publicité*/



#pub img {min-width: 20vw; max-width: 20vw; min-height: 100%; margin: 1vw;}

#pub h2{color: crimson; margin: 3vw;-webkit-text-stroke: 0.2vw limegreen; font-size: 6vw;}
#pub{background-image: url("../images/4633484.jpg");min-height: 20vw;background-repeat: no-repeat; background-size:cover;display: flex;flex-direction: row;}



/*les sections du magasin*/

h1{padding-bottom: 2vw;padding-top: 5vw;color:coral;-webkit-text-stroke: lightcoral 0.1vw;}

#sort{display: flex; flex-direction: row; height: 28vw; overflow: scroll; scrollbar-color: springgreen forestgreen ;}


/*les fonds style papier-cadeau des différentes sections*/

#décos{margin-bottom: 2vw; background-image: url("../images/9698816.jpg");}
#jouets{background-image: url("../images/vecteezy_seamless-christmas-pattern-with-elf-legs-from-gift-box_.jpg");}
#plats{background-image: url("../images/9782132.jpg");margin-bottom: 2vw;}
#pulls{background-image:url("../images/depositphotos_505405450-stock-illustration-seamless-pattern-winter-clothing-christmas.webp");margin-bottom: 2vw;}



/*l'interface octroyée par chaque élément (item) de la section*/

img{max-height:75%; min-width:90%;border-radius: 10%;}

#item{ border: burlywood 1vw solid; background-color: tomato; display: flex; padding: 2vw ;flex-direction: column; margin-right:10vw; margin-left:5vw;margin-bottom: 3vw; align-items: center; justify-content:last baseline; min-width:  30vw;  border-radius: 10%; font-size: xx-large; color: darkslategray; }


button{background-color: burlywood;padding: 1vw;;min-width: 10vw; border:0vw;font-size: xx-large;border-radius: 30%; color: maroon;}
button:hover{background-color: greenyellow;}
button:active{background-color: chartreuse;}
button:focus{background-color: lime;}

/*le footer de la page, avec les sources*/

footer{background-color: crimson; padding: 1vw }
footer a{color: greenyellow;}
footer a:hover{color: chartreuse;}