#div1{background-image: url("images/purpledot.png"),url("images/purpledot.png"),url("images/goose_shadow.png") ;background-repeat:repeat-y ,repeat-y, no-repeat ;background-position: left ,right,85% bottom;background-size: auto,auto,3em;}



body{background-image: url("images/blackgoose.png");background-size: contain;background-repeat: no-repeat;background-position: center;background-attachment: fixed;}