

#div1{background-color: #ffffff;opacity: 0.5;}


#appetizers ul{list-style: none;}


body{background-color: #D2DC9D ;}
#appetizers a:link{color: #993399;}
#appetizers a:visited{color: #937393;}
#appetizers a:hover{color: #C700F2;background-color: #FFC0CB;}